.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonAuto {
  margin-left: auto;
}

.buttonBack {
  margin-right: auto;
}